.Tarot-Summary {
  color: black;
  background-color: #90D0DA;
  padding: 2.5em;
  font-weight: 100;
  line-height: 1.5;
  box-shadow: 3px 3px 5px -3px rgba(0,0,0,0.5);
}

.Tarot h2 {
  color: #216472;
  font-size: 3em;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(41, 16, 17, 0.2)
}

.Tarot h3 {
  color: white;
}

@media (max-width: 750px) {
  .Tarot {
    margin: 0;
    padding: 1em 1.5em;
  }
  .Tarot h2 {
    font-size: 2.5em;
  }
}

@media (max-width: 415px) {
  .Tarot {
    margin: 0;
    padding: 1em;
  }
  .Tarot h2 {
    font-size: 2.4em;
  }
}

@media (max-width: 395px) {
  .Tarot {
    margin: 0;
    padding: 1em 0;
  }
  .Tarot h2 {
    font-size: 2.2em;
  }
}
@media (max-width: 365px) {
  .Tarot h2 {
    font-size: 2em;
  }
}

@media (max-width: 300px) {
  .Tarot h2 {
    font-size: 1.8em;
  }
}

