.carousel-container {
  padding-bottom: 5px;
}

.tarot-ethics-item {
  height: auto;
  min-height: 22rem;
  width: 90%;
  padding: 2em 2.5em;
  background-color: #90D0DA;
}

.react-multiple-carousel__arrow--left {
  left: .5px;
  background-color: #216472;
}

.react-multiple-carousel__arrow--right {
  right: .5px;
  background-color: #216472;
}


@media (max-width: 575px) {
  .react-multiple-carousel__arrow--left {
    left: calc(2% + 1px);
    font-size: .5em;
    background-color: #216472;
  }
  .react-multiple-carousel__arrow--right {
    right: calc(2% + 1px);
    font-size: .5em;
    background-color: #216472;
  }
}

@media (max-width: 415px) {
  .tarot-ethics-item {
    margin: 0;
    padding: 2em 2.5em;
    margin-left: .5em;
    background-color: #90D0DA;
  }
}

@media (max-width: 374px) {

  .carousel-container {
    width: 250px;
    height: auto;
  }
  .react-multiple-carousel__arrow--left {
    left: calc(2% + 1px);
    font-size: .5em;
    background-color: #216472;
  }

  .react-multiple-carousel__arrow--right {
    right: calc(2% + 1px);
    font-size: .5em;
    background-color: #216472;
  }
}